$black: #1a1a1a;
$brownGray: #c5beb3;
$gray: #dadada;
$whiteGray: #e3e3e3;
$grayWhite: #f3f3f3;
$white: #ffffff;
$brown: #947b6d;
$gold: #ac965d;
$whiteRed: #e5cdcb;
$whitePink: #ffefef;
$whiteGreen: #c1d3bd;
$whiteBlue: #c9d9df;
$whiteYellow: #e2dbb6;
$whiteBeige: #e7e4df;