@use "/src/styles/colorPalette.scss";

body {
    font-family: var(--font-inter), var(--font-noto-sans-jp);
}

p {
    color: colorPalette.$black;
}

a {
    text-decoration: none;
    color: colorPalette.$black;
}