@use "/src/styles/colorPalette.scss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

body {
    font-family: 'Noto Sans JP';
}

p {
    color: colorPalette.$black;
}

a {
    text-decoration: none;
    color: colorPalette.$black;
}