@use "/src/styles/colorPalette.scss";

.pageContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;

    &>.heroImage {
        object-fit: cover;
        width: 100vw;
        height: 100vh;
    }

    &>.welcomeEventWrapper {
        position: relative;
        display: flex;
        justify-content: center;
        padding: 0 45px;

        &>.welcomeEvent {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            max-width: 1280px;
            padding: 75px 75px 100px 75px;
            border-radius: 12px;
            background: colorPalette.$gray;

            &>.eventList {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                min-width: 50%;
                gap: 40px;

                &>.eventListContent {
                    font-size: 16px;

                    & td {
                        padding: 10px;
                    }
                }
            }

            &>.welcomeEventButtonWrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                max-width: 50%;
            }
        }
    }

    &>.about {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 65px;
        padding: 200px 0;
        background:
            linear-gradient(rgba(74, 22, 22, 0.3), rgba(74, 22, 22, 0.3)),
            url("/images/about.jpg") center top / cover;

        &>.aboutTitle {
            color: colorPalette.$white;
        }

        &>.aboutContent {
            width: 75%;
            max-width: 700px;
            color: colorPalette.$white;
            text-align: center;
            font-size: 24px;
            font-weight: 500;
        }
    }

    &>.introduction {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 100px;
        padding: 70px;

        &>.sectionIntroduction,
        &>.partIntroduction {
            width: 45%;
            max-width: 540px;
            aspect-ratio: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 60px;
            padding-top: 100px;

            &>.introductionTitle {
                color: colorPalette.$white;
            }
        }

        &>.sectionIntroduction {
            background:
                linear-gradient(rgba(74, 22, 22, 0.3), rgba(74, 22, 22, 0.3)),
                url("/images/section.png") center top / cover;
        }

        &>.partIntroduction {
            background:
                linear-gradient(rgba(74, 22, 22, 0.3), rgba(74, 22, 22, 0.3)),
                url("/images/part.png") center top / cover;
        }
    }

    &>.activity {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 250px;
        padding: 230px 50px;
        background:
            linear-gradient(rgba(143, 56, 51, 0.3), rgba(143, 56, 51, 0.3)),
            url("/images/activity.jpg") center top / cover;

        &>.forMobile {
            display: none;
        }

        &>.activitySummary {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 70px;

            &>.activityTitle {
                color: colorPalette.$white;
            }

            &>.activityDescription {
                color: colorPalette.$white;
                font-size: 16px;
                font-weight: 500;
                text-align: center;
            }
        }
    }

    & .interview {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 80px;
        padding-top: 75px;

        &>.interviewSummary {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 30px;
            padding: 0 150px;

            &>.interviewDescription {
                font-size: 16px;
            }
        }

        &>.sliderContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 20px 0;
            background: #edd7d7;

            &>.slider {
                width: 90%;

                .slide {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                .interviewThumb {
                    width: 85%;
                    height: auto;
                    aspect-ratio: 1.5;
                }
            }
        }
    }

    &>.faqWrapper {
        position: relative;
        display: flex;
        justify-content: center;
        padding: 50px 60px;

        &>.faq {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 50px;
            width: 90%;
            max-width: 1200px;
            padding: 40px 70px;
            border-radius: 30px;
            background: colorPalette.$gray;

            & .faqSummary {
                display: flex;
                flex-direction: column;
                justify-content: left;
                align-items: flex-start;
                gap: 30px;
                width: 100%;

                &>.faqDescription {
                    font-size: 16px;
                }
            }
        }
    }

    &>.joinus {
        position: relative;
        padding: 0 30px;

        &>.joinusTitle {
            padding: 40px 20%;
        }

        &>.joinusSteps {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 45px;

            &>.joinusStep,
            &>.joinusStepLast {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                width: min(80vw, 1100px);
                background: colorPalette.$whiteBeige;
                margin-bottom: 20px;
                border-radius: 10px;
                padding: 20px 20px 5px 20px;

                &>.joinusStepNumber {
                    font-size: 32px;
                }

                &>.joinusStepTitle {
                    font-size: 24px;
                    font-weight: 500;
                    color: colorPalette.$black;
                }
            }

            &>.joinusStepLast {
                margin-bottom: 0;
                padding: 20px;
            }

            &>.joinusStep::after {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                bottom: max(-3.9vw, -54px);
                left: 7.5px;
                border-style: solid;
                border-color: colorPalette.$whiteBeige transparent transparent transparent;
                border-width: min(4vw, 55px) calc(min(40vw, 550px) - 7px) 0 calc(min(40vw, 550px) - 7px);
                z-index: 1;
            }
        }
    }


    &>.contact {
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 50px 150px;

        td {
            padding: 8px;
        }
    }
}

.transitionButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 70px;
    border-radius: 35px;
    background: colorPalette.$gold;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    &>.transitionButtonText {
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        color: colorPalette.$white;
    }
}

@media screen and (max-width: 768px) {
    .pageContainer {
        gap: 30px;

        &>.welcomeEventWrapper {
            display: block;
            padding: 0 15px;

            &>.welcomeEvent {
                flex-direction: column;
                gap: 30px;
                padding: 20px;

                &>.eventList {
                    width: 100%;
                    gap: 20px;

                    &>.eventListContent {
                        font-size: 14px;
                    }
                }
            }
        }

        &>.about {
            padding: 75px 0;

            &>.aboutContent {
                width: auto;
                padding: 0 45px;
                font-size: 16px;
            }
        }

        &>.introduction {
            flex-direction: column;
            gap: 35px;
            padding: 25px;

            &>.sectionIntroduction {
                width: auto;
                padding: 120px 60px 60px 60px;
                font-size: 24px;
            }

            &>.partIntroduction {
                width: auto;
                padding: 120px 60px 60px 60px;
                font-size: 24px;
            }
        }

        &>.activity {
            flex-direction: column;
            gap: 60px;
            padding: 100px 0;

            &>.forPc {
                display: none;
            }

            &>.forMobile {
                display: block;
            }

            &>.activitySummary {
                gap: 30px;
                padding: 0 45px;

                &>.activityDescription {
                    font-size: 14px;
                }
            }
        }

        &>.interview {
            gap: 20px;

            &>.interviewSummary {
                gap: 20px;
                padding: 0 30px;

                &>.interviewDescription {
                    font-size: 14px;
                }
            }

            &>.sliderContainer {
                &>.slider {
                    .interviewThumb {
                        width: 345px;
                        height: 230px;
                    }
                }
            }
        }

        &>.faqWrapper {
            padding: 15px;

            &>.faq {
                gap: 20px;
                padding: 20px;
                border-radius: 20px;

                &>.faqSummary {
                    gap: 20px;
                    padding: 0 20px;

                    &>.faqDescription {
                        font-size: 14px;
                    }
                }
            }
        }

        &>.joinus {
            gap: 20px;

            &>.joinusTitle {
                padding: 20px 30px;
            }

            &>.joinusSteps {
                gap: 20px;

                &>.joinusStep,
                &>.joinusStepLast {
                    &>.joinusStepNumber {
                        font-size: 16px;
                    }

                    &>.joinusStepTitle {
                        font-size: 13px;
                    }

                    &>.joinusStepDescription {
                        font-size: 11px;
                    }
                }

                &>.joinusStep::after {
                    bottom: max(-5.9vw, -82px);
                    border-width: min(6vw, 82.5px) calc(min(40vw, 550px) - 7px) 0 calc(min(40vw, 550px) - 7px);
                }
            }
        }

        &>.contact {
            gap: 10px;
            padding: 30px;
            font-size: 12px;
        }
    }

    .transitionButton {
        width: 190px;
        height: 45px;

        &>.transitionButtonText {
            font-size: 14px;
        }
    }
}