@use "/src/styles/colorPalette.scss";

.container {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 80;
    width: 100vw;
    height: 80px;
    padding: 0 24px;
    background-color: colorPalette.$white;

    &>.titleLogo {
        width: auto;
        height: 56px;
    }

    &>.hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 100;
        cursor: pointer;
        height: 48px;
        width: 48px;

        &>span,
        span::before,
        span::after {
            content: '';
            display: block;
            transition: 0.5s;
            position: absolute;
            height: 4px;
            width: 48px;
            border-radius: 4px;
            background: #303030;
        }

        &>span::before {
            bottom: 14px;
        }

        &>span::after {
            top: 14px;
        }
    }

    &>.drawerInput {
        display: none;

        &:checked {
            ~.hamburger span {
                background: rgba(255, 255, 255, 0);
            }

            ~.hamburger span::before {
                bottom: 0;
                transform: rotate(45deg);
                background: #ffffff;
            }

            ~.hamburger span::after {
                top: 0;
                transform: rotate(-45deg);
                background: #ffffff;
            }

            ~.menu {
                left: calc(100vw - 396px);
            }
        }
    }

    &>.menu {
        width: 396px;
        height: 100vh;
        position: fixed;
        transition: all 0.5s;
        z-index: 90;
        top: 0;
        left: 100vw;
        padding: 0 40px;
        background: colorPalette.$brown;

        &>.menuTitle {
            display: flex;
            align-items: center;
            color: colorPalette.$white;
            height: 100px;

            &>p {
                font-size: 32px;
                font-weight: 500;
                color: colorPalette.$white;
            }
        }

        &>ul {
            list-style: none;

            &>li {
                display: flex;
                align-items: center;
                height: 32px;
                margin: 32px 0;
                padding-left: 16px;
                border-left: solid 5px colorPalette.$white;

                &>a {
                    font-size: 24px;
                    font-weight: 500;
                    color: colorPalette.$white;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        height: 60px;

        &>.titleLogo {
            width: auto;
            height: 42px;
        }

        &>.hamburger {
            height: 36px;
            width: 36px;

            &>span,
            span::before,
            span::after {
                height: 3px;
                width: 36px;
            }

            &>span::before {
                bottom: 12px;
            }

            &>span::after {
                top: 12px;
            }
        }

        &>.menu {
            width: 100vw;

            &>.menuTitle {
                height: 60px;

                &>p {
                    font-size: 24px;
                }
            }

            &>ul {
                &>li {
                    height: 24px;
                    margin: 24px 0;
                    padding-left: 12px;
                    border-left: solid 3px colorPalette.$white;

                    &>a {
                        font-size: 20px;
                    }
                }
            }
        }

        &>.drawerInput {
            &:checked {
                ~.menu {
                    left: 0;
                }
            }
        }
    }
}